/*CAIXA DE DIALOGO SALVO/INCORRETO*/
#modificacoes-salvas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: -100px;
    padding: 13px 20px 13px 20px;
    border-radius: 10px;
    background-color: #161616;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 12pt;
    font-weight: 500;
    z-index: 999999999;
}

#modificacoes-salvas svg{
    color: rgb(206, 43, 43);
}
