@keyframes aparecer {
    0%{
        transform: translateY(-70px);
        opacity: 1;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
        backdrop-filter: none;
    }
}


.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding: 15px 0px;
    animation: aparecer 1s ease;
    gap: 10%;
    backdrop-filter: blur(5px);
    transition: background-color 0.3s ease;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s ease;
}

.cabecalho.borda-ativa {
    border-color: rgba(56, 56, 56, 0.534);
}

.cabecalho-logo-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.cabecalho-text-logo{
    font-family: 'Inter', sans-serif;
    color: #708df7;
    font-size: 20px;
    font-weight: 600;
}

.cabecalho-logo-texts{
    display: flex;
    flex-direction: column;
    padding: 5px;
    
}

.cabecalho-logo{
    height: 35px;
}

.cabecalho-menu{
    display: flex;
    gap: 10px
}

.item-login{
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 14.5px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    background-color:  #0a0a0a;
    padding: 7px 15px;
    border-radius: 7px;
    border: 1.5px solid #242424;
    transition: 0.5s;
}

.item-login:hover{
    border-color: #242424;
    background-color: #242424;
}

.item-register{
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 14.5px;
    font-weight: 400;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    padding: 7px 15px;
    border-radius: 7px;
    border: 1.5px solid #ffffff;
    transition: 0.5s;
}

.item-register:hover{
    color: rgb(0, 0, 0);
    border-color: #d8d8d8;
    background-color: #d8d8d8;
}